In [12]:
import pandas as pd
import numpy as np
import Scale_and_predict

<h1 style="color: green;">Creating Base datasets</h1>

In [7]:
raw0 = pd.read_csv("../Data/Model_data.csv")

In [10]:
# Note: this is from an earlier version of the Model_data.csv
raw0.drop(['Abbey_Sports', 'Afro_supermarket', 'Aldi', 'Amazon',
             'Angies_Fish_Bar', 'Apple', 'Asda', 'B&M', 'B&Q', 'BP','Batter_days_chippy', 
             'Blackbird_pharmacy', 'Bounce_mania','Clintons_cards', 'Currys_PC_World', 'Dominos_Pizza',
             'EuroGarages', 'Europe', 'Gregs', 'Grill_shack', 'KFC','Laptops_with_linux', 
             'Leicester_libraries', 'Lidl', 'LinkedIn','M_and_J_Congo_Shop', 'Maryland', 
             'Millets', 'Mustafa_halal','Namecheap', 'National_space_centre', 'O2_Academy',
             'Petrol_station_random', 'Piri_piri_chicken', 'Post_office','Primark', 'Sainsbury', 
             'Sams_News', 'Select_Express','Shanghai_moon', 'Showcase_cinemas', 'Skunk_Anansie', 
             'Skylink','Sports_direct.com', 'Stabana', 'Sunnamusk_perfume', 'Superdrug',
             'Tesco', 'Udemy', 'WHSmith', 'Welcome_break_service', 'Wilko','Yours_Supermarket', 
             'eBay', 'next','Trips_response_lt_4','Trips_response_lt_6'], axis=1, inplace=True)

In [4]:
y_class = raw0['Trips_response_lt_5']

<h1 style="color: green;">Creating reference datasets with predictions</h1>

In [5]:
# Re-create the function Scale_and_predict.transform_data() as this is suited for single
# row scoring, it pulls data from the database on its own
# then it processes all of that data and scores it

# What we need is to run the data as is above so that it can be transformed and 
# the predictions generated and the three scores returned.

# IMPORTANT: Must create a standard scaler for classifier model
# Use the same method as in Regressor models Home Shopping

# Please modify how the standard scalar.inverse_transform() works
# i.e. it should work as in regressor models Home Shopping

Models_output = Scale_and_predict.predict(raw0)
Models_output.head()

   Classifier  Regressor  Regressor_transform
0           1  -0.752486             4.075426
1           1  -0.661348             4.886896
2           1   0.054386            11.259583
3           1  -0.013847            10.652056
4           1  -0.007999            10.704126

In [6]:
# appending the predictions to the reference dataset
raw1 = pd.concat([raw0,Models_output], axis=1)
raw1.head()

,Venue_id,Total_Nbr_of_Items,Total_Price,Date_diff,Week_day_numeric,Nbr_trips_per_wk,Nbr_items_per_wk,Nbr_items_wk_perc,Expenditure_per_wk,Total_Exp_wk_perc,...,Clothes_and_shoes_wk_exp_perc,House_and_kitchen_receipt,House_and_kitchen_wk,House_and_kitchen_wk_perc,House_and_kitchen_exp_receipt,House_and_kitchen_exp_wk,House_and_kitchen_wk_exp_perc,Classifier,Regressor,Regressor_transform
0,12,1.0,2.98,0.0,5,3.0,3.0,0.333333,17.16,0.173660,...,0.0,0,0,0.0,0.0,0.0,0.0,1,-0.752486,4.075426
1,12,1.0,3.29,0.0,5,3.0,3.0,0.333333,17.16,0.191725,...,0.0,0,0,0.0,0.0,0.0,0.0,1,-0.661348,4.886896
2,12,1.0,10.89,0.0,5,3.0,3.0,0.333333,17.16,0.634615,...,0.0,0,0,0.0,0.0,0.0,0.0,1,0.054386,11.259583
3,10,1.0,10.00,5.0,3,4.0,4.0,0.250000,28.69,0.348554,...,0.0,0,0,0.0,0.0,0.0,0.0,1,-0.013847,10.652056
4,12,1.0,10.69,1.0,4,4.0,4.0,0.250000,28.69,0.372604,...,0.0,0,0,0.0,0.0,0.0,0.0,1,-0.007999,10.704126

In [7]:
# Appending the target feature back to the reference dataset
raw1['y_class'] = y_class

In [8]:
# checking the correlation between the classifier target and the prediction
raw1[['y_class','Classifier']].corr()

            y_class  Classifier
y_class         1.0         1.0
Classifier      1.0         1.0

In [9]:
# DO NOT RUN THIS
#raw1.to_csv("../Data/reference.csv", index=False)

<h1 style="color: green;">Creating current datasets</h1>

<h3 style="color: green;">Current dataset no drift</h3>

In [10]:

current_data_no_drift = raw0.take(np.random.permutation(int(raw0.shape[0]/3)))

In [11]:
int(raw0.shape[0]/3)

240

In [12]:
# creating the no drift dataset by randomly sampling raw0 and stacking the samples
# taking a random 1/3 of raw0 dataset
for i in range(19):
    x = raw0.take(np.random.permutation(int(raw0.shape[0]/3)))
    current_data_no_drift = pd.concat([current_data_no_drift,x], axis=0)

In [13]:
current_data_no_drift.shape

(4800, 132)

In [14]:
# DO NOT RUN THIS
# Writing current data to csv
# current_data_no_drift.to_csv("../Data/current_data_no_drift.csv", index=False)

<h5 style="color: green;">Generating predictions with current dataset no drift</h5>

In [15]:
# Reading in the csv data
Current_no_drift = pd.read_csv("../Data/current_data_no_drift.csv")

# adding Trips_response_lt_5 for the code requirement
Current_no_drift['Trips_response_lt_5'] = 0

# Generating predictions
Current_Models_output = Scale_and_predict.transform_data(Current_no_drift)
Current_Models_output.head()

   Classifier  Regressor  Regressor_transform
0           0   0.904750            18.830979
1           1   0.667222            16.716096
2           0  -0.420333             7.032818
3           0  -0.046728            10.359297
4           0  -0.028451            10.522028

In [16]:
# Append the predictions to the Current_no_drift
Current_no_drift = pd.concat([Current_no_drift,Current_Models_output],axis=1)
Current_no_drift.head()

,Venue_id,Total_Nbr_of_Items,Total_Price,Date_diff,Week_day_numeric,Nbr_trips_per_wk,Nbr_items_per_wk,Nbr_items_wk_perc,Expenditure_per_wk,Total_Exp_wk_perc,...,Clothes_and_shoes_wk_exp_perc,House_and_kitchen_receipt,House_and_kitchen_wk,House_and_kitchen_wk_perc,House_and_kitchen_exp_receipt,House_and_kitchen_exp_wk,House_and_kitchen_wk_exp_perc,Classifier,Regressor,Regressor_transform
0,1,19.00,19.45,3.0,5,9.0,56.0,0.301587,175.43,0.110870,...,0.0,0,1,0.0,0.0,0.0,0.0,0,0.904750,18.830979
1,1,21.81,20.61,0.0,7,4.0,34.0,0.676471,31.42,0.655952,...,0.0,0,0,0.0,0.0,0.0,0.0,1,0.667222,16.716096
2,1,11.00,6.29,2.0,6,5.0,35.0,0.314286,44.87,0.140183,...,0.0,0,3,0.0,0.0,0.0,0.0,0,-0.420333,7.032818
3,8,1.00,10.00,0.0,4,5.0,15.0,0.066667,23.88,0.418760,...,0.0,0,1,0.0,0.0,0.0,0.0,0,-0.046728,10.359297
4,1,9.00,9.96,1.0,6,6.0,27.0,0.333333,27.39,0.363636,...,0.0,0,1,0.0,0.0,0.0,0.0,0,-0.028451,10.522028

In [17]:
# drop Current_no_drift['Trips_response_lt_5'] 
# Current_no_drift.drop(['Trips_response_lt_5'], axis=1, inplace=True)

Current_no_drift[['Total_Price','Regressor_transform']].corr()

                     Total_Price  Regressor_transform
Total_Price             1.000000             0.986193
Regressor_transform     0.986193             1.000000

In [18]:
# writing the predictions to csv
Current_no_drift.to_csv("../Data/current_no_drift_predictions.csv",index=False)

<h3 style="color: green;">Current dataset with drift</h3>

In [19]:
wk_list =['Nbr_trips_per_wk','Drinks_wk','Expenditure_per_wk','Nbr_items_per_wk',
'Cosmetics_and_selfcare_wk','Raw_meats_wk','Vegetables_wk','Bread_exp_wk',
'Total_Price','Eating_out_wk','Drinks_exp_wk','Dairy_produce_wk',
'Card_Source_num','Cooked_meats_wk','Tech_and_services_exp_wk',
'Total_Nbr_of_Items','Raw_meats_exp_receipt','Week_day_numeric',
'Snacks_wk','Bread_wk','Raw_meats_exp_wk','Vegetables_exp_receipt']

wk_perc_list = ['Total_Exp_wk_perc','Nbr_items_wk_perc',
                'Bread_wk_exp_perc','Dairy_produce_wk_exp_perc','Vegetables_wk_exp_perc']

In [20]:
# reading in current_data_no_drift
df = pd.read_csv("../Data/current_data_no_drift.csv")

In [21]:
df[wk_list].head()

,Nbr_trips_per_wk,Drinks_wk,Expenditure_per_wk,Nbr_items_per_wk,Cosmetics_and_selfcare_wk,Raw_meats_wk,Vegetables_wk,Bread_exp_wk,Total_Price,Eating_out_wk,...,Dairy_produce_wk,Card_Source_num,Cooked_meats_wk,Tech_and_services_exp_wk,Total_Nbr_of_Items,Raw_meats_exp_receipt,Snacks_wk,Bread_wk,Raw_meats_exp_wk,Vegetables_exp_receipt
0,9.0,14,175.43,56.0,3,5,15,0.00,19.45,0,...,0,0,2,0.0,19.00,17.28,6,2,24.36,24.08
1,4.0,0,31.42,34.0,2,4,4,0.99,20.61,0,...,3,0,2,0.0,21.81,19.41,6,1,24.48,2.62
2,5.0,1,44.87,35.0,9,1,7,0.00,6.29,0,...,2,0,1,0.0,11.00,0.00,6,1,0.00,0.00
3,5.0,1,23.88,15.0,0,3,6,0.00,10.00,0,...,0,0,0,0.0,1.00,0.00,0,3,0.00,0.00
4,6.0,2,27.39,27.0,2,4,5,0.00,9.96,0,...,2,0,1,0.0,9.00,12.14,6,3,16.86,3.66

In [22]:
df1 = df

In [23]:
# Adding random noise to the non percentage features
# In general all the values are being inflated
mu, sigma = 10,6 
for item in wk_list:
    df1['{}'.format(item)] = df1['{}'.format(item)] + \
    abs(np.random.normal(mu, sigma,len(df1)))
df1[wk_list].head()

,Nbr_trips_per_wk,Drinks_wk,Expenditure_per_wk,Nbr_items_per_wk,Cosmetics_and_selfcare_wk,Raw_meats_wk,Vegetables_wk,Bread_exp_wk,Total_Price,Eating_out_wk,...,Dairy_produce_wk,Card_Source_num,Cooked_meats_wk,Tech_and_services_exp_wk,Total_Nbr_of_Items,Raw_meats_exp_receipt,Snacks_wk,Bread_wk,Raw_meats_exp_wk,Vegetables_exp_receipt
0,19.567543,18.279222,182.340372,66.602375,5.638433,20.891467,18.290092,14.614313,36.655817,8.127144,...,5.939629,10.408592,11.507616,13.218314,24.274854,32.747173,16.789254,19.077817,26.114691,28.498935
1,20.232957,0.436844,38.240343,55.770013,17.034824,13.832791,19.676227,6.304337,21.540953,9.148760,...,14.870818,14.624105,18.129989,1.049207,36.570274,29.262270,9.074632,18.748363,33.719460,8.721055
2,11.837116,6.327411,53.902368,52.402067,15.181889,17.344255,26.014908,11.587733,14.574159,9.859835,...,5.722414,2.957282,13.412998,13.713031,13.486234,4.073856,17.051960,14.098747,10.975628,8.017099
3,18.089128,28.247804,26.781455,27.755211,3.769298,11.320852,6.707932,7.987266,13.302603,6.991700,...,20.093245,3.721639,10.042393,14.402742,17.704624,6.740754,13.107776,11.892403,5.528505,18.597079
4,7.169780,10.131853,35.641328,33.626999,15.612226,16.487496,18.083722,21.683446,11.206255,4.033367,...,14.103662,6.374359,8.442464,7.089180,11.914826,13.914135,12.637816,23.577231,17.561325,13.704547

In [24]:
df[wk_perc_list].head()

,Total_Exp_wk_perc,Nbr_items_wk_perc,Bread_wk_exp_perc,Dairy_produce_wk_exp_perc,Vegetables_wk_exp_perc
0,0.110870,0.301587,0.0,0.000000,3.028931
1,0.655952,0.676471,1.0,1.381166,1.007692
2,0.140183,0.314286,0.0,0.000000,0.000000
3,0.418760,0.066667,0.0,0.000000,0.000000
4,0.363636,0.333333,0.0,0.000000,1.794118

In [25]:
# Adding random noise to the weekly percentages features
mu, sigma = 0,0.1
for item in wk_perc_list:
    df1['{}'.format(item)] = df1['{}'.format(item)] + \
    abs(np.random.normal(mu, sigma,len(df1)))
df1[wk_perc_list].head()

,Total_Exp_wk_perc,Nbr_items_wk_perc,Bread_wk_exp_perc,Dairy_produce_wk_exp_perc,Vegetables_wk_exp_perc
0,0.252844,0.322837,0.104748,0.012563,3.051687
1,0.825961,0.782385,1.036269,1.516019,1.012562
2,0.306264,0.379130,0.012771,0.014694,0.084892
3,0.433085,0.121610,0.074646,0.060374,0.063462
4,0.558450,0.384786,0.111855,0.128649,1.969465

In [26]:
# DO NOT RUN THIS AGAIN
# Writing df1 to csv
# df1.to_csv("../Data/current_data_with_drift.csv", index=False)

<h5 style="color: green;">Generating predictions with current dataset with drift</h5>

In [27]:
# Reading in the csv data
Current_drift = pd.read_csv("../Data/current_data_with_drift.csv")

# adding Trips_response_lt_5 for the code requirement
Current_drift['Trips_response_lt_5'] = 0

# Generating predictions
Current_Models_output = Scale_and_predict.transform_data(Current_drift)
Current_Models_output.head()

   Classifier  Regressor  Regressor_transform
0           0   1.040010            20.035295
1           0   1.162723            21.127897
2           0  -0.121010             9.697908
3           0   0.311992            13.553238
4           0   0.436713            14.663717

In [28]:
# Append the predictions to the Current_drift
Current_drift = pd.concat([Current_drift,Current_Models_output],axis=1)
Current_drift.head()

,Venue_id,Total_Nbr_of_Items,Total_Price,Date_diff,Week_day_numeric,Nbr_trips_per_wk,Nbr_items_per_wk,Nbr_items_wk_perc,Expenditure_per_wk,Total_Exp_wk_perc,...,Clothes_and_shoes_wk_exp_perc,House_and_kitchen_receipt,House_and_kitchen_wk,House_and_kitchen_wk_perc,House_and_kitchen_exp_receipt,House_and_kitchen_exp_wk,House_and_kitchen_wk_exp_perc,Classifier,Regressor,Regressor_transform
0,1,22.889371,20.560134,3.0,20.055737,15.158324,63.366945,0.340835,185.588563,0.116131,...,0.0,0,1,0.0,0.0,0.0,0.0,0,1.040010,20.035295
1,1,29.630099,30.367886,0.0,11.986268,13.054748,39.602039,0.786089,42.667271,0.884878,...,0.0,0,0,0.0,0.0,0.0,0.0,0,1.162723,21.127897
2,1,24.180423,14.204134,2.0,9.494687,17.968517,45.212611,0.376903,57.349734,0.146806,...,0.0,0,3,0.0,0.0,0.0,0.0,0,-0.121010,9.697908
3,8,15.101997,21.751915,0.0,18.423109,12.975101,30.770458,0.091546,31.582159,0.434022,...,0.0,0,1,0.0,0.0,0.0,0.0,0,0.311992,13.553238
4,1,27.988847,23.597499,1.0,18.089717,19.535662,42.378271,0.622074,30.375389,0.443038,...,0.0,0,1,0.0,0.0,0.0,0.0,0,0.436713,14.663717

In [29]:
# writing the predictions to csv
Current_drift.to_csv("../Data/current_with_drift_predictions.csv",index=False)