<h1 style="color: green;">Summary</h1>
<p style="color: black;">
In this section the following are accomplished:
<ul>
<li>Create new features</li>
<li>Define the target</li>
<li>Perform exploratory data analysis</li>
</ul>
All of this is done with the raw data extracted in <b>Data Extraction</b>
</p>

<h1 style="color: green;">Import libraries</h1>

In [1]:
import pandas as pd
import numpy as np

<h1 style="color: green;">Reading data</h1>

In [2]:
raw0 = pd.read_csv("../Data/homeshopping.csv")
raw0.head()

,Receipt_id,Venue_id,Total_Nbr_of_Items,Total_Price,Receipt_Nbr,Trans_number,Barcode,Receipt_Date,Receipt_Time,Date_Added,...,Clothes_and_shoes_wk_perc,Clothes_and_shoes_exp_receipt,Clothes_and_shoes_exp_wk,Clothes_and_shoes_wk_exp_perc,House_and_kitchen_receipt,House_and_kitchen_wk,House_and_kitchen_wk_perc,House_and_kitchen_exp_receipt,House_and_kitchen_exp_wk,House_and_kitchen_wk_exp_perc
0,99,12,1,10.89,0,0,25-03894-02600,2019-09-20,11:24:00,2020-11-02 17:23:49,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
1,100,12,1,2.98,0,0,05-03896-06921,2019-09-20,13:10:00,2020-11-02 17:34:49,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
2,101,12,1,3.29,0,0,05-03896-06922,2019-09-20,13:10:00,2020-11-02 17:45:31,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
3,146,10,1,10.00,0,0,0,2019-09-25,08:00:00,2020-12-17 10:17:41,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
4,103,12,1,2.09,0,0,20-03919-91257,2019-09-26,12:05:00,2020-11-02 21:18:29,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0

In [3]:
print(raw0.shape)

(886, 171)